{% extends 'public/base_cpanel.html' %}
<!--Cambiando el title-->
Dashboard
<!---->
{% block customCSS %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename ='assets/css/file.css') }}" />
{% endblock %}

<!--Inicio del block-->
{% block body %}
<div class="card" style="border-radius: 0px !important">
  
  <div class="row justify-content-center mb-2">
    <div class="col-md-10">
      <form
        class="form-horizontal mx-auto"
        method="POST"
        action="/form-registrar-particular"
        autocomplete="off"
        enctype="multipart/form-data">
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <div class="card">
                <div class="card-header">
                  Animales Activos
                </div>
                <div class="card-body">
                  <h4 class="card-title">324</h4>
                  <a href="#" class="btn btn-primary">En proceso de engorda</a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <div class="card-header">
                  GDP
                </div>
                <div class="card-body">
                  <h4 class="card-title">1.25 Kg/dia</h4>
                  <a href="#" class="btn btn-secondary">En proceso de revisión</a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <div class="card-header">
                  Consumo Diario
                </div>
                <div class="card-body">
                  <h4 class="card-title">5.8 kg/animal</h4>
                  <a href="#" class="btn btn-danger">En proceso de revisión</a>
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-center mb-2">
            <!-- <div class="col-md-12">
              <div class="text-center mt-5 mb-3 alert alert-info" role="alert">
                Gráficas
              </div>
              <hr />
            </div> -->
          </div>
          <div class="row mt-2">
            <div class="col-md-6">
              <canvas id="Chartone"></canvas>
            </div>
            <div class="col-md-6">
              <canvas id="Charttwo"></canvas>
            </div>
          </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-6">
              <div class="card" style="background-color: rgb(250, 248, 248);">
                <div class="card-header">
                  Area de Salud
                </div>
                <div class="card-body">
                 <div class="alert alert-danger" role="alert">
                    Vaca #234 : Perdida de peso
                 </div>
                 <div class="alert alert-danger" role="alert">
                    Vaca #178 : Temperatura Elevada
                 </div>
                 <div class="alert alert-danger" role="alert">
                    Vaca #278 : Revisión física
                 </div>
                  
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card" style="background-color: rgb(240, 240, 240);">
                <div class="card-header">
                  Próximas Vacunas
                </div>
                <div class="card-body">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Fecha</th>
                        <th scope="col">Lote</th>
                        <th scope="col">Vacuna</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>28/11/2025</td>
                        <td>Lote A</td>
                        <td>Brucelosis</td>
                      </tr>
                      <tr>
                        
                        <td>30/11/2025</td>
                        <td>Lote C</td>
                        <td>Aftosa</td>
                      </tr>
                      <tr>
                        
                        <td>05/12/2025</td>
                        <td>Lote B</td>
                        <td>Clostridiales</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          

          <div class="mb-3 mt-4 text-center">
            <button type="submit" class="btn btn-primary">
              Guardar registro
              <i class="bi bi-database-add"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %} {% block customJS %}http://localhost:5600/lista-de-usuarios
<script src="{{ url_for('static', filename ='assets/customJS/file.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const ctx = document.getElementById('Chartone');

  new Chart(ctx, {
    type: 'line',
    data: {
      labels: ['Sem 1', 'Sem 2', 'Sem 3', 'Sem 4', 'Sem 5', 'Sem6'],
      datasets: [{
        label: 'Curva de Peso',
        data: [3, 6, 9, 12, 15, 11],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });

  // charttwo

  const ctxd = document.getElementById('Charttwo');

  new Chart(ctxd, {
    type: 'bar',
    data: {
      labels: ['Lote A', 'Lote B', 'Lote C', 'Lote D', 'Lote E', 'Lote F'],
      datasets: [{
        label: 'Consumo vs Objetivo',
        data: [12, 19, 3, 5, 2, 3],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>
{% endblock %}
